<h3>You input the dimensions of the parcel as: Length: <%= @length%> Width: <%= @width %> Height: <%= @height %> </h3>

<h3>The input weight is: <%= @weight %> </h3>

<h3>The calculated volume is: <%= @volume %> </h3>

<h3>The calculated shipping cost is: <%= @charge %> </h3>
